on early-init
    start ueventd

on init

sysclktz 0

loglevel 3

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /lib:/vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_CACHE /cache
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export DOWNLOAD_CACHE /cache/download
    export EXTERNAL_STORAGE /mnt/sdcard
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb
    export SD_EXT_DIRECTORY /sd-ext
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/core-junit.jar

    mkdir /etc

# Backward compatibility
    symlink /sys/kernel/debug /d

# create mountpoints
    mkdir /system
    mkdir /dbdata 0771 system system
    mkdir /data 0771 system system
    mkdir /cache 0771 system cache
    mkdir /config 0500 root root
    mkdir /efs 0771 system system
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/emmc 0000 system system

# Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

# Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0777 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024

    mkdir /dev/cpuctl/fg_boost
    chown system system /dev/cpuctl/fg_boost/tasks
    chmod 0777 /dev/cpuctl/fg_boost/tasks
    write /dev/cpuctl/fg_boost/cpu.shares 1024

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

    # insmod kernel modules
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko
    insmod /lib/modules/j4fs.ko
    insmod /lib/modules/mbcache.ko
    insmod /lib/modules/jbd2.ko
    insmod /lib/modules/ext4.ko

    # parameter block
    insmod /lib/modules/j4fs.ko
    mkdir /mnt/.lfs 0755 root root
    mount j4fs /dev/block/stl6 /mnt/.lfs
    insmod /lib/modules/param.ko   

    insmod /lib/modules/Si4709_driver.ko
    insmod /lib/modules/vibrator.ko
    insmod /lib/modules/bthid.ko

on fs

# mount ext4 partitions
    mount ext4 /dev/block/stl9 /system noatime nodiratime errors=continue nobh data=writeback barrier=0 noauto_da_alloc 
    #mount ext4 /dev/block/stl9 /system ro remount

#on post-fs

    # once everything is setup, no need to modify /
    # mount rootfs rootfs / ro remount

on boot

## Daemon processes to be run by init.
##
service ueventd /sbin/ueventd
    critical

