#on early-init

on init

    #for clockworkmod recovery
    symlink /misc /etc

    mkdir /sdcard
    mkdir /emmc

#on early-fs

#on fs

#on post-fs
	
on boot

    class_start default

service console /sbin/sh
    console
    disabled
    user shell
    group log

on property:ro.secure=0
    start console

service recovery /sbin/recovery
    oneshot

service adbd /sbin/adbd recovery
    enabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

